@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->


<header class="masthead d-flex" style="background-image: url('../img/bg-masthead.jpg');">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Comming Soon!</h1>
      <h3 class="mb-5">
        <em>The project will be ready to deploy in 2020</em>
      </h3>
<!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>-->
    </div>
    <div class="overlay"></div>
  </header>

  
